<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="p-5">
        <h3>Welcome to my blog</h3>
        <h5>you can add multiple stuff here</h5>
        <p class="text-justify font-italic" style="font-size: 16px">
          he 'body matter' is the group of pages that contain the body of the text of
          the book. The front matter comes before it,
          containing title pages, content lists, publisher's metadata etc.
          It is followed by the back matter, which includes appendices, references, credits,
          colophon etc.[2] The distinction between the parts, body and other,
          is that the body matter is produced by the, the
          front and back matter by the publisher (through the book designer,
          index collator etc.). Where there is a prose introduction, it demonstrates this; an introduction by the
          author is considered as body matter, an introduction by an editor or other
          commentator is placed with the front matter.[2] In some technical publications,
          appendices are so long and important as part of the book that they are a creative endeavour of the author,
          rather than a mere collation exercise by the publisher.
          In this case they may, like the introduction, be considered as a part of the body matter.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="img">
        <img src="../../../assets/1.jpg" class="img-fluid mt-3 ml-5" alt="blog1" height="183" width="275">
        <img src="../../../assets/2.jpg" class="img-fluid mt-3 ml-5" alt="blog2" height="183" width="275">
        <img src="../../../assets/3.jpg" class="img-fluid mt-3 ml-5" alt="blog3" height="183" width="275">
      </div>
    </div>
  </div>
</div>
