<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h2>Posts Of The Day</h2>
      <div *ngFor="let post of posts" class="data text-justify mt-3">
        <p class="font-weight-bold" style="font-size: 20px">{{post.name}}</p>
        <p style="font-size: 16px">{{post.post}}</p>
      </div>
      <P></P>
    </div>
    <div class="col-md-5">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="mt-3 w-75">
          <div class="form-group">
            <label for="username" style="font-size: 25px">Username</label>
            <input type="text" id="username" class="form-control" ngModel name="username">
          </div>
          <div class="form-group">
            <label for="textArea" style="font-size: 25px">Post</label>
            <textarea id="textArea" class="form-control" rows="3" cols="6" ngModel name="textArea"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
    <div class="col-md-12">
      <p class="text-center footer"> End of Page</p>
    </div>
  </div>
</div>
